@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.ProseMirror:focus {
  outline: none; /* Removes outline completely */
}


/* 1. Base Styles */
@layer base {
    /* Default Light Theme */
    :root {
      --background: #ffffff; /* Light background */
      --foreground: #000000; /* Light text */
      --border-opacity: 20%;
      --border: rgba(139, 92, 246, 0.2); /* Purple border */
      --accent: #8B5CF6; /* Purple accent */
    }

    /* Dark Theme */
    html.dark {
      --background: #000000; /* Dark background */
      --foreground: #ffffff; /* Dark text */
      --border-opacity: 20%;
      --border: rgba(139, 92, 246, 0.3); /* Purple border */
      --accent: #A78BFA; /* Light purple accent */
    }
 
}

/* 1. Global font setup */
body {
  font-family: var(--font-geist-code);
  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--foreground);

  
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  /* overflow: hidden; Prevent unnecessary scrollbars */
}


* {
  border-color: var(--border);

}



.rmdp-shadow{
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) !important;
}
.rmdp-ep-shadow:after  {
  box-shadow: none !important;
}


.dark .rmdp-header-values , .dark .rmdp-time-picker div .rmdp-am {
  color: white  !important;
}
.dark .ep-arrow,   .rmdp-ep-arrow {
  visibility: hidden !important;
} 

/* Date Picker*/

.custom-datepicker {
  --rmdp-background: white;
  --rmdp-text: black;
  --rmdp-border: rgba(0, 0, 0, 0.2);
}

html.dark .custom-datepicker {
  --rmdp-background: black !important;
  --rmdp-text: white !important;
  --rmdp-border: rgba(255, 255, 255, 0.2) !important;
}
.custom-datepicker .rmdp-container {
  background-color: var(--rmdp-background) !important;
  color: var(--rmdp-text) !important;
  border-color: var(--rmdp-border) !important;
}
.custom-datepicker .rmdp-day {
  color: var(--rmdp-text) !important;
}

.custom-datepicker .rmdp-day span {
  color: var(--rmdp-text) !important;
}
.dark .rmdp-day span {
  background-color: var(--rmdp-text) !important;
  color: var(--rmdp-background) !important;
  color: white !important;
}


.rmdp-calendar, .rmdp-wrapper  {
  /* border: 1px solid black !important ; */
  box-shadow: #000000 ;

}

.dark .rmdp-disabled  span{
  color: #656565 !important;
  /* background-color: yellow !important; */
}

/* emoji picker */

.dark .epr-search-container input {
  background-color: rgb(61, 61, 61)  !important;
  border-width: 0px;
}

.dark .epr-main {
  border: none !important;
}
.dark .epr-emoji-category-label {
  background-color: black  !important;
  color: #ffffff !important;
}