name: Deploy the backend
on:
    push:
        branches: [ main ]
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout the code
              uses: actions/checkout@v2

            - name: Docker Login
              uses: docker/login-action@v2
              with:
                    username: ${{ secrets.DOCKERHUB_USERNAME }}
                    password: ${{ secrets.DOCKERHUB_PASSWORD }}
            
            
            - name: Build and push
              uses: docker/build-push-action@v4
              with:
                context: ./
                file: ./docker/Dockerfile.http
                push: true
                tags: avishmadaan/tweetly-http:${{github.sha}}